body {
  color: white;
  background-color: green;
  font-family: arial;
}
h1 {
  font: 30px;
}
h2 {
  font: italic, 100px;
}

p {
  color: green;
}

div {
  color: orange;
  background-color: yellow;
  border:12px orange dashed;
}


